/* ===== Reset CSS ===== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ===== Variables ===== */
:root {
    --dark-prim: #333;
    --light-prim: #fff;
    --light-grey: #ddd;
    --dark-grey: #ccc;
    --red-color: #F44336;
    --green-color: #009688;
    --blue-color: #2196F3;
}