@media (max-width: 740px) {
    .wrap__header {
        overflow: hidden;
    }

    .head__nav {
        display: block;
    }

    .head__nav > li {
        display: block;
    }

    .head__nav > li:first-child {
        display: inline-block;
    }

    .head__nav > li > a {
        padding: 1px 24px;
    }

    .head__search-btn {
        display: none;
    }

    .head__menu-btn {
        display: block;
    }

    .head__menu-btn:hover {
        background-color: var(--light-grey);
    }

    .search-btn__icon:hover {
        color: var(--dark-prim);
    }

    .nav__subnav {
        position: initial;
        background-color: var(--dark-grey);
    }

    .nav__subnav > li > a {
        color: var(--lighter-grey);
        padding: 5px 41px;
    }
}

@media (max-width: 1023px) and (min-width: 740px) {
}
