/* ===== Body ===== */
.wrapper {
    /* Nothing */
    display: block;
}

.dark-bg {
    min-width: 100%;
    background-color: var(--dark-prim);
    color: var(--light-prim) !important;
}

/* ===== header ===== */
.wrap__header {
    position: fixed;
    top: 0;
    height: 46px;
    width: 100%;
    background-color: var(--dark-prim);
    z-index: 1;
    overflow: hidden;
}

.head__nav {
    display: inline-block;
}

.head__nav > li {
    display: inline-block;
}

.head__nav li {
    position: relative;
}

.head__nav > li > a {
    color: var(--light-prim);
    text-transform: uppercase;
}

.head__nav li a {
    display: block;
    line-height: 46px;
    padding: 0 24px;
}

.head__nav > li:hover > a,
.nav__subnav li:hover a {
    color: var(--dark-prim);
    background-color: var(--dark-grey);
}

.head__nav li:hover .nav__subnav {
    display: block;
}

.nav__subnav {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: var(--light-prim);
    box-shadow: 0 4px 10px 0 rgba(39, 39, 39, 0.2),
        0 4px 20px 0 rgba(39, 39, 39, 0.19);
}

.nav__subnav li a {
    color: var(--dark-prim);
    padding: 0 12px;
    line-height: 37px;
}

.head__menu-btn,
.head__search-btn {
    line-height: 46px;
    float: right;
    padding: 0 22px;
}

.head__search-btn:hover {
    cursor: pointer;
    background-color: var(--red-color);
}

.search-btn__icon {
    color: var(--light-prim);
    font-size: 18px;
}

/* ===== slider ===== */
.wrap__slider {
    position: relative;
    padding-top: 50%;
    margin-top: 46px;
    background: url("../../Assets/Image/chicago.jpg") top center / cover no-repeat;
}

.slider__text {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
    color: var(--light-prim);
}

.text__heading {
    font-weight: 500;
    font-size: 24px;
}

.text__descrpt {
    margin-top: 25px;
    font-size: 15px;
}

/* ===== content ===== */
.ctent__section {
    width: 768px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 24px
}

.sec__heading {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

.sec__sub-heading {
    margin: 25px 0;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

.sec__about {
    text-align: justify;
}

.sec__mem-list {
    margin-top: 47px;
}

.mem-name {
    margin: 15px 0;
}

.mem-img {
    width: 65%;
    border-radius: 5px;
}

/* ===== Ticket ===== */
.sec__ticket-list {
    background-color: var(--light-prim);
}

.sec__ticket-list li {
    color: var(--dark-prim);
    padding: 9px 16px;
    border-bottom: 1px solid var(--light-grey);
}

.sold-out {
    background-color: var(--red-color);
    color: var(--light-prim);
    padding: 2px 8px;
    margin-left: 16px;
}

.quantity {
    background-color: var(--dark-prim);
    color: var(--light-prim);
    float: right;
    border-radius: 50%;
    padding: 0 8px;
    margin-right: 16px;
}

.sec__ticket-place {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-bottom: 32px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.item__info {
    background-color: var(--light-prim);
    color: var(--dark-prim);
    padding: 0 16px;
}

.info__heading {
    padding: 8px 0;
}

.info__date {
    margin: 15px 0;
    opacity: 0.6;
    font-weight: 500;
}

.info__descpt {
    margin-top: 16px;
}

.btn {
    display: inline-block;
    background-color: var(--dark-prim);
    color: var(--light-prim);
    padding: 11px 16px;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
    margin-top: 16px;
}

.btn:hover {
    background-color: var(--dark-grey);
    color: var(--dark-prim);
}

/* ===== Contact form ===== */
.contact__content {
    margin-top: 48px;
}

.contact-left {
    font-size: 18px;
    line-height: 1.5;
    margin-top: -50px;
}

.contact-left i[class*="fa-solid"] {
    width: 30px;
}

.form-control {
    border: var(--light-grey) solid 1px;
    padding: 8px;
    width: 100%;
}

.sec-map img {
    width: 100%;
}

/* ===== footer ===== */
.wrap__footer {
    padding: 64px 16px;
    text-align: center;
}

.footer__social a i {
    font-size: 24px;
    color: var(--dark-prim);
    margin-right: 5px;
}

.footer__copyright a:hover,
.footer__social a:hover i {
    opacity: 0.6;
}

.footer__copyright {
    margin-top: 15px;
    color: var(--dark-prim);
}

.footer__copyright a {
    text-decoration: underline;
    color: var(--dark-prim);

}

/* ===== Modals ===== */
.modals.open {
    display: flex;
}

.modals {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    animation: modalsFadeIn ease 0.5s;
}

.mod__container {
    position: relative;
    width: 900px;
    max-width: calc(100% - 36px);
    min-height: 200px;
    background-color: var(--light-prim);
}

.mod__header {
    background-color: var(--green-color);
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--light-prim);
}

.mod__header > i {
    margin-right: 16px;
}

.mod__btn-close {
    position: absolute;
    right: 0;
    color: var(--light-prim);
    padding: 16px;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.8;
}

.mod__btn-close:hover {
    opacity: 1;
}

.mod__body {
    padding: 16px;
}

.mod__input,
.mod__label {
    display: block;
}

.mod__label {
    margin-bottom: 12px;
}

.mod__input {
    padding: 10px 8px;
    border: var(--dark-grey) solid 1px;
    width: 100%;
    margin-bottom: 24px;
}

#buy-tickets {
    width: 100%;
    background-color: var(--green-color);
    color: var(--light-prim);
    border: none;
    font-size: 20px;
    padding: 16px;
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.9;
}

.mod__footer {
    padding: 16px;
    text-align: right;
}

.mod__footer > p > a {
    color: var(--blue-color);
}

@keyframes modalsFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
