.head__nav > li {
    display: block;
}

.head__search-btn {
    display: none;
}

.head__menu-btn:hover {
    background-color: var(--dark-grey);
}

.search-btn__icon:hover {
    color: var(--dark-prim);
}